@page
@model Bookstore.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
@if (Model.ErrorMessage != string.Empty)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
<form method="post">
    <div class="form-group">
        <label for="Email">Email адрес</label>
        <input type="email" class="form-control" id="Email" name="Email"
               placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="Password">Парола</label>
        <input type="password" class="form-control" id="Password"
               name="Password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Парола (повтори)</label>
        <input type="password" class="form-control" id="ConfirmPassword"
               name="ConfirmPassword" placeholder="Confirm password">
    </div>
    <button type="submit" class="btn btn-primary">Регистрация</button>
</form>